.header{
    background-color:aliceblue
}
.navigation_list{
    gap:10 px;
    display: flex;
    margin:0;
    padding: 0;
    List-style-type: none
}

.navigation_link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navigation_link:hover,
.navigation_link:active{
    color:brown
}

.bold{
    font-weight: 700;
}

.label{
    flex-direction: column;
    display: flex;
    width: 100px;
}

